<div class="testtest">
  <h1>Welcome to MyRecipes</h1>  
</div>

<div class="jumbotron center"></div>
  


<div class="row">
  <div class="col-lg-4">
    <h2>Share your recipes</h2>
    <!--<p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>-->
    <p>MyRecipes App has been created for food lovers that like to share their favorite recipes, and like to get inspired by other food lovers favorite recipes. If you like to get inspired by other food lovers then here is a great oppertunity.</p>
    <p><%= link_to "Sign up", signup_path , class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h2>Our Friends</h2>
    <p>As a user of MyRecipes App, you will be connected with other members and be able to collaborate with everyone through comments or the ability to chat with other members. We encourage our members to collaborate with each other and keep sharing great ideas.</p>
    <p><%= link_to "Chefs", chefs_path , class: "btn btn-primary btn-xlarge" %></p>
 </div>
  <div class="col-lg-4">
    <h2>Search by Ingredients</h2>
    <p>As something new you can now search recipes by ingredients. Serach recipes by your favorite ingredient, or what you happen to be in the mood for on the day. Check out the ingredients link, and see members recipes containing this ingredient.</p>
    <p><%= link_to "Ingredients", ingredients_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
</div>